<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--配置web用到的各种servlet-->
    <!--配置HelloServlet-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.tomcat.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
    </servlet-mapping>

    <!--配置HiServlet-->
    <servlet>
        <servlet-name>HiServlet</servlet-name>
        <servlet-class>com.tomcat.HiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiServlet</servlet-name>
        <url-pattern>/hiServlet</url-pattern>
    </servlet-mapping>

    <!--配置CatServlet-->
    <servlet>
        <servlet-name>CatServlet</servlet-name>
        <servlet-class>com.tomcat.CatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatServlet</servlet-name>
        <url-pattern>/Cat</url-pattern>
    </servlet-mapping>

    <!--配置DBServlet-->
    <servlet>
        <servlet-name>DBServlet</servlet-name>
        <servlet-class>com.tomcat.DBServlet</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>chengkaixuan</param-value>
        </init-param>
        <init-param>
            <param-name>pwd</param-name>
            <param-value>769997</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBServlet</servlet-name>
        <url-pattern>/DB</url-pattern>
    </servlet-mapping>

    <!--配置servletContext-->
    <servlet>
        <servlet-name>ServletContext</servlet-name>
        <servlet-class>com.tomcat.ServletContext</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContext</servlet-name>
        <url-pattern>/Sc</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>website</param-name>
        <param-value>www.chengkaixuan.com</param-value>
    </context-param>
    <context-param>
        <param-name>company</param-name>
        <param-value>chengkaixuan</param-value>
    </context-param>
    <!--配置orderServlet1-->
    <servlet>
        <servlet-name>orderServlet1</servlet-name>
        <servlet-class>com.tomcat.orderServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderServlet1</servlet-name>
        <url-pattern>/os</url-pattern>
    </servlet-mapping>
    <!--配置payServlet-->
    <servlet>
        <servlet-name>payServlet</servlet-name>
        <servlet-class>com.tomcat.payServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>payServlet</servlet-name>
        <url-pattern>/ps</url-pattern>
    </servlet-mapping>
</web-app>